<section class="page-image page-image-contact md-padding">
</section>

<!--==========================
    Contact Section
============================-->
<section id="contact" class="md-padding">
    <div class="container">

        <div class="row text-center">
            <div class="col-md-4 offset-md-4">
                <div class="section-header">
                    <h2 class="title">Answers</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                {{#if sessionFlash.message}}
                <div class="{{sessionFlash.type}}">{{sessionFlash.message}}</div>
                {{/if}}
       <h5>Here</h5>
            </div>
        </div>

    </div>
</section>