<section class="page-image page-image-contact md-padding">
	<h1 class="text-white text-center mt-4">RESET PASSWORD</h1>
</section>

<!--==========================
    Contact Section
============================-->
<section id="contact" class="md-padding">
	<div class="container">

		<div class="row text-center">
			<div class="col-md-4 offset-md-4">
				<div class="section-header">
					<h2 class="title">Reset Password</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">

				{{#if sessionFlash.message}}
				<div class="{{sessionFlash.type}}">{{sessionFlash.message}}</div>
				{{/if}}
				<form action="/auth/resetPassword?ResetPasswordToken" method="POST">
				 <input type="hidden" name="ResetPasswordToken" value="PUT">
					<div class="row">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<div class="form-group">
								<input class="form-control" name="password" type="password" placeholder="Your New Password *"
									required="required" data-validation-required-message="Please enter your email.">
								<p class="help-block text-danger"></p>
							</div>
						</div>
						<div class="col-md-2"></div>
						<div class="clearfix"></div>
					<div class="col-lg-12 text-center">
						<div id="success"></div>
						<button id="sendloginButton" class="main-btn" type="submit">Reset Password</button>
					</div>
					</div>
				</form>

			</div>
		</div>

	</div>
</section>